<h3>Product Edit Api Component</h3>


@page "/prdApi/Edit/{id:int}"
@inject NavigationManager navManager


<PageTitle>Edit Product</PageTitle>


@if (productObj != null)
{
    <EditForm Model="productObj" OnValidSubmit="Save" OnInvalidSubmit="NotSave">
        <DataAnnotationsValidator></DataAnnotationsValidator>
        <ValidationSummary></ValidationSummary>
        <div>
            <label>Name</label>
            <InputText @bind-Value="productObj.Name" class="form form-control"></InputText>
            <ValidationMessage For="()=>productObj.Name"></ValidationMessage>
        </div>
        <div>
            <label>Price</label>
            <InputNumber @bind-Value="productObj.Price" class="form form-control"></InputNumber>
            <ValidationMessage For="() => productObj.Price"></ValidationMessage>

        </div>
        <div>
            <label>Description</label>
            <InputText @bind-Value="productObj.Description" class="form form-control"></InputText>
            <ValidationMessage For="()=>productObj.Description"></ValidationMessage>

        </div>
        <div>
            <label>Image</label>
            <InputText @bind-Value="productObj.Image" class="form form-control"></InputText>
            <ValidationMessage For="()=>productObj.Image"></ValidationMessage>

        </div>
        <div>
            <label>Category</label>
            <select @bind="productObj.CatId" class="form form-control">
                @foreach (var category in categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>
        <br />
        <input type="submit" class="btn btn-success" value="Save" />
    </EditForm>

}
else
{
    <h1>invalid id</h1>
}

@code {
    [Parameter]
    public int id { set; get; }

    [Inject]
    public IService<Product> productService { set; get; }

    [Inject]
    public IService<Category> categoryService { set; get; }

    public List<Category> categories { get; set; }

    public Product productObj { set; get; }

    protected override async Task OnInitializedAsync()
    {
        productObj = await productService.GetById(id);
        categories = await categoryService.GetAll();
        base.OnInitializedAsync();
    }

    public async Task Save()
    {
        await productService.Update(id, productObj);
        Console.WriteLine("Done");
        navManager.NavigateTo("/prdApi/allproduct");
    }

    public void NotSave()
    {
        Console.WriteLine("not saved");
    }

}
